<app-navbar></app-navbar>
<title>Hello_Game</title>
<body>
  <div class="header">
      <table class="busqueda">
          <tr>
              <td colspan="4">
              </td>
          </tr>
      </table>
  </div>
  <div class="cuerpo">
      <div class="contenedor">

        <table class="table table-striped">
          <thead>
            <tr id="titulos_tabla">
              <th scope="col">Nombre</th>
              <th scope="col">Precio</th>
              <th scope="col">Imagen</th>
              <th scope="col">Options</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf = "findDatos">
              <tr *ngFor="let dato of datos">
                <td>{{dato.nombre}}</td>
                <td>{{dato.precio}}</td>
                <td><img src={{dato.img}}></td>
                <td><button class="btn btn-danger" (click)="deleteProduct(dato.idRegistro)">Eliminar</button></td>
              </tr>

              <div class="button-container-2">
                <span class="mas">Comprar</span>
              <button type="button" name="Hover" (click)="comprarProduct()">Comprar</button>
            </div>

            </ng-container>
           <ng-container *ngIf ="!findDatos">
            <h4>No hay juegos en el carrito</h4>
           </ng-container>
          </tbody>
        </table>


      </div>

  </div>
  <footer id="footerp">
    <div class="container p-4">
      <section class="mb-4">
        <p>
          "La esperanza es lo que nos hace más fuertes. Es la razón por la que estamos aquí. Es con lo que luchamos cuando todo lo demás se ha perdido"
        </p>
      </section>
      <section class="">
        <div class="row">
        </div>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" href="https://www.instagram.com/piscinasbuga/">Hello_game</a>
    </div>
  </footer>


</body>
