<app-navbar></app-navbar>
<title>Hello_Game</title> 
<body>
  <div class="header">
      <table class="busqueda">
          <tr>
              <td colspan="4">
                  <div class="field" id="searchform">
                      <input type="text" id="searchterm" placeholder="Que juego esta buscando?" />
                      <button type="button" id="search">Buscar!</button>
                  </div>
              </td>
          </tr>
          <tr>
              <td><a href="#" class="myButton">Categorias</a></td>
              <td><a href="#" class="myButton">Nuevos</a></td>
              <td><a href="#" class="myButton">Populares</a></td>
              <td><a href="#" class="myButton">Gratis</a></td>
          </tr>
      </table>
      <div class="perfil">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16" style="color: white;">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" style="color: white;"/>
          </svg>

          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
              <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" style="color: white;"/>
          </svg>

      </div>
  </div>
  <div class="cuerpo">
      <div class="contenedor">

        <table class="table table-striped">
          <thead>
            <tr id="titulos_tabla">
              <th scope="col">Nombre</th>
              <th scope="col">Precio</th>
              <th scope="col">Imagen</th>
              <th scope="col">Options</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf = "findDatos">
              <tr *ngFor="let dato of datos">
                <td>{{dato.nombre}}</td>
                <td>{{dato.precio}}</td>
                <td><img src={{dato.img}}></td>
                <td><button class="btn btn-danger" (click)="deleteProduct(dato.idRegistro)">Eliminar</button></td>
              </tr>

              <button class="btn btn-success" (click)="comprarProduct()">Comprar</button>

            </ng-container>
           <ng-container *ngIf ="!findDatos">
            <h4>No hay juegos en el carrito</h4>
           </ng-container>
          </tbody>
        </table>

            
      </div>

  </div>
  <footer id="footerp" class="bg-dark text-center text-white">
    <div class="container p-4">
      <section class="mb-4">
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i></a>

        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i></a>

        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i></a>
      </section>
      <section class="mb-4">
        <p>
          "La esperanza es lo que nos hace más fuertes. Es la razón por la que estamos aquí. Es con lo que luchamos cuando todo lo demás se ha perdido"
        </p>
      </section>
      <section class="">
        <div class="row">
        </div>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" href="https://www.instagram.com/piscinasbuga/">Hello_game</a>
    </div>
  </footer>


</body>
