@import url('http://fonts.googleapis.com/css?family=Montserrat+Alternates');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:100");

a:link, a:visited, a:active {
  text-decoration:none;
}
body{
    margin-top: 1px;
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255) ;
    margin:0;
    padding:0;
}
.header{
  display: flex;
  margin: auto;
  width: 100%;
  position:relative;
  padding-bottom: 10px;
  background-color: rgb(24, 23, 23);

}
.field {
  display:flex;
  position:realtive;
  margin:auto;
  width:95%;
  flex-direction:row;
  box-shadow:
  1px 1px 0 rgb(22, 160, 133),
  2px 2px 0 rgb(22, 160, 133),
  3px 3px 0 rgb(22, 160, 133),
  4px 4px 0 rgb(22, 160, 133),
  5px 5px 0 rgb(22, 160, 133),
  6px 6px 0 rgb(22, 160, 133),
  7px 7px 0 rgb(22, 160, 133)
  ;
}

.field>input[type=text],
.field>button {
  display:block;

}

.field>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em solid rgb(26, 188, 156);
}

.field>input:hover{
  box-shadow: 0 0 20px #4f9;
}

.field>button:hover{
  box-shadow: 0 0 20px #4f9;
}


.field>button {
  padding:0.6em 0.8em;
  background-color:rgb(26, 188, 156);
  color:white;
  border:none;
}

  .busqueda{
    margin-left: 18%;
    margin-right: auto;
    text-align: center;
    padding: 0px;
    width: 60%;
    height: 90px;


  }

  #titulos_tabla{
    font-size: 25px;
    background-color: #8c06fa;
    color: #ffffff;
    border-radius: 10px;
  }

  .myButton {

  background-color: #740cb1;
	border-radius:18px;
  border:1px solid #941df5;
  width: 200px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:7px ;
	text-decoration:none;

}
.myButton:hover {
	background:linear-gradient(to bottom, #8c06fa 5%, #bf2df9 100%);
	background-color:#8c06fa;
}
.myButton:active {
	position:relative;
	top:1px;
}

.perfil{
    margin-left: 0px;
    margin-top: 33px;
    margin-right: 5%;
    width: 200px;
    height: 100px;
    float: left;
}
.cuerpo{
    background-color: rgb(255, 255, 255);
    width: 100%;
    position:absolute;
    height: 60%;
    padding: 10px;
    margin: auto;
}
.footer{
    width: 100%;
    padding: 20px;
    background-color: rgb(24, 23, 23);
    margin: auto;
    display: flex;
    position:absolute; /*El div será ubicado con relación a la pantalla*/
    left:0px; /*A la derecha deje un espacio de 0px*/
    right:0px; /*A la izquierda deje un espacio de 0px*/
    bottom:0px; /*Abajo deje un espacio de 0px*/
    height:15%; /*alto del div*/
    z-index:0;
    border-width: 10px;
    align-items: center;
}

.txtCategorias{
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    color: black;
}
.imagenes{
    width: 100px;
    height: 100px;
    margin: auto;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    border-radius: 100%;


}
.icon{
    color: white;


}

.contenedor{
    width: 70%;
    height: 100%;
    margin: auto;
    padding: 0px;
    font-size: 25px;
}

.carrito{
    width: 100%;
    height: 100%;
    margin: auto;
}

.celda1{
    width: 40%;



}
.celda2{
    padding: 0%;
    width: 20%;
    text-align: center;
    padding:0.6em 0.8em;
    color:white;

}
.txtTitulo{
    margin-top:5%;
    font-size: 30px;
    color: black;
}
.txtPrecio{
    text-align: center;
    font-size: 20px;
    color: black;
    padding-left: 30%;
}
.degradado1{
    background: rgba(179,220,237,1);
    background: -moz-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,220,237,1)), color-stop(50%, rgba(41,184,229,1)), color-stop(100%, rgba(188,224,238,1)));
    background: -webkit-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    background: -o-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    background: -ms-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    background: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=1 );
    border-width: 5px;
    border-color: rgba(41,184,229,1);
    border-style: solid;
}

.degradado1:hover{
    background: rgba(241,231,103,1);
    background: -moz-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
    background: -webkit-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -o-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -ms-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
    border-width: 5px;
border-color: rgba(254,182,69,1);
border-style: solid;
}

.degradado3{
    background: rgba(226,226,226,1);
    background: -moz-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
    background: -webkit-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: -o-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: -ms-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: linear-gradient(to right, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
border-width: 5px;
border-style: solid;
}

.degradado3:hover{
  border-color: rgba(255, 255, 255, 0.507);
}
footer{
  background-color: rgb(24, 23, 23);
  color: #ffffff;
}

.button-container-2 {
  position: relative;
  width: 300%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7vh;
  overflow: hidden;
  border: 1px solid #000;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 1px;
}
.button-container-2 button {
  width: 101%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1px;
  background: #6E24D9;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
  -webkit-mask-size: 3000% 100%;
  mask-size: 3000% 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(29) forwards;
  animation: ani2 0.7s steps(29) forwards;
}
.button-container-2 button:hover {
  -webkit-animation: ani 0.7s steps(29) forwards;
  animation: ani 0.7s steps(29) forwards;
}


.mas {
  position: absolute;
  color: rgb(0, 0, 0);
  text-align: center;
  width: 101%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  position: absolute;
  font-size: 20px;
  margin-top: 12px;
  overflow: hidden;
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
a {
  color: #00ff95;
}
