body{
  font-family: 'Balsamiq Sans', cursive;
  color: #ccc;
}

#cuadroletra1{
  font-size: 25px ;

}

.box-portada{
height: 1236px;
  padding-bottom: 0px;
  border: 6px black solid;
  border-radius: 10px;

}

#letrasw{
  font-size: 40px;
}
#box-HG{
  position: fixed;
  top:-2.5%;
  left: 73%;
  background-color: white;
  height: 37px;
  padding: 3px;
}

#imagenAYP{
  height: 100%;
  padding: 10px;
}

#imagenLogo{
  height: 50px;
  position: fixed;
  top: 92%;
  right: 96%;
  background-color: #fff;
  border-radius: 10px;
}

#diniciar{
  font-size: 24px;
}
.divdatos{
width: 50%;
}
fieldset{
  width: 68%;
  height: 800px;
  border:none;
}

/* #switch */
.switchBtn {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 34px;
}
.switchBtn input {display:none;}
.slide {
  position: absolute;
  cursor: pointer;
  top: -4px;
  left: -5px;
  right: -5px;
  bottom: -4px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  padding: 3px;
  color: #fff;
}
.slide:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 78px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;

}
input:checked + .slide {
  background-color: #8CE196;
  padding-left: 40px;

}
input:focus + .slide {
  box-shadow: 0 0 1px #01aeed;
}
input:checked + .slide:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  left: -20px;
}
.slide.round {
  border-radius: 34px;
  border: 3px solid rgb(0, 0, 0);
}
.slide.round:before {
  border-radius: 50%;
  border: 3px solid rgb(0, 0, 0)0;

}
/* #endregion */
#diniciar{
  font-size: 24px;
  background-color: #8000ff;
  padding: 30px;
  width: 300px;
  border-radius: 10px;
  box-shadow:
  1px 1px 0 rgb(0, 0, 0),
  2px 2px 0 rgb(0, 0, 0),
  3px 3px 0 rgb(0, 0, 0),
  4px 4px 0 rgb(0, 0, 0),
  5px 5px 0 rgb(0, 0, 0),
  6px 6px 0 rgb(0, 0, 0),
  7px 7px 0 rgb(0, 0, 0)
}

#diniciar:hover {
  background-color: #6e20bb;
  border-bottom: none;
  padding: 30px;
  width: 300px;
  border-radius: 10px;
}
.flex-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0px;
  background-color: rgb(24, 23, 23);
}

.form {
  min-width: 450px;
  flex: 1;
  text-align: center;
  padding: 40px;
  padding-right: 90px;

}

.form__input{
  width: 100%;
  padding: 14px;
  margin: 20px 0;
  border: none;
  border: 5px #000000 solid;

  border-radius: 10px;
  font-family: 'Balsamiq Sans', cursive;
}

.form__input:focus{

  outline: none;
  border-bottom: 5px #8000ff solid;
  border-radius: 10px;
}

.img-container{
  padding-top: -10%;
}

.img-container img {
  width: 100%;
}

form input[type="submit"] {
  background-color: #8000ff;
  padding: 30px;
  width: 300px;
  border-radius: 10px;
  box-shadow:
  1px 1px 0 rgb(0, 0, 0),
  2px 2px 0 rgb(0, 0, 0),
  3px 3px 0 rgb(0, 0, 0),
  4px 4px 0 rgb(0, 0, 0),
  5px 5px 0 rgb(0, 0, 0),
  6px 6px 0 rgb(0, 0, 0),
  7px 7px 0 rgb(0, 0, 0)
;
}

form input[type="submit"]:hover {
  background-color: #6e20bb;
  border-bottom: none;
  padding: 30px;
  width: 300px;
  border-radius: 10px;
}

form input[type="submit"]:active {
  background-color: #6e20bb;
  border-bottom: none;
  padding: 30px;
  width: 300px;
  cursor:wait;
  border-radius: 10px;
}
