<nav class="navbar navbar-expand-lg n" id="navbar">
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="botonnav" [routerLink]= "['/']">Home 🏠</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
          </li>
          <hr>
          <li *ngIf="auth.isLoggedIn() | async" class="nav-item active">
              <a class="botonnav" [routerLink]= "['/carrito']">Carrito 🛒<span class="sr-only">(current)</span></a>
          </li>
          <hr>
          <li  *ngIf="!(auth.isLoggedIn() | async)" class="nav-item">
              <a class="botonnav" [routerLink]= "['/login']">Iniciar Sesion 🆔</a>
          </li>
          <hr>
          <li *ngIf="!(auth.isLoggedIn() | async)" class="nav-item">
              <a class="botonnav" [routerLink]= "['/register']">Registrarse ✅</a>
          </li>
          <hr>
          <li *ngIf="auth.isAdmin() | async" class="nav-item">
              <a class="botonnav" [routerLink]= "['/publicar']">Publicar Anuncio 💲</a>
          </li>
          <hr>
          <li *ngIf="auth.isLoggedIn() | async" class="nav-item">
              <a class="botonnav" [routerLink]= "['/login']" (click)="auth.logout()">Salir</a>
          </li>
      </ul>
  </div>
</nav>
