#navbar{
  background-color: rgb(24, 23, 23);
}
.nav-item{
  padding-top: 5px;
}

.botonnav{

	background:linear-gradient(to bottom, #8c06fa 5%, #bf2df9 100%);
	background-color:#8c00ff;
  border-radius:10px;
  width: 200px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:20px;
  padding:10px ;
  text-decoration:none;

}

.botonnav:hover {
	background:linear-gradient(to bottom, #57009e 5%, #690092 100%);
	background-color:#5800a0;
}

.botonnav:active {
	position:relative;
	top:1px;
}

.navbar-nav{

  margin-left: 18%;
  margin-right: auto;
  text-align:center;
  padding: 0px;
  width: 60%;

}
