<app-navbar></app-navbar>
<title>Hello_Game</title>
  <body>
    <div class="header">
        <table class="busqueda">
            <tr>
              <td colspan="4">
                  <div class="field" id="searchform">
                      <input class="form-control" type="text" id="searchterm" placeholder="Que juego esta buscando?" [(ngModel)]="filterPost" name="filterPost" />
                  </div>
              </td>
          </tr>
        </table>

    </div>
    <div class="cuerpo">
        <table class="busquedaContent">
            <tr>
                <td rowspan="3">
                    <div class="categorias">
                        <a href="#"><h1 class="txtCategorias">Accion</h1></a>
                        <a href="#"><h1 class="txtCategorias">Deportes</h1></a>
                        <a href="#"><h1 class="txtCategorias">Aventura</h1></a>
                        <a href="#"><h1 class="txtCategorias">Arcade</h1></a>
                        <a href="#"><h1 class="txtCategorias">Estrategia</h1></a>
                        <a href="#"><h1 class="txtCategorias">Simulacion</h1></a>
                    </div>
                </td>

                    <table id="tabla_contenido_lista" class="table table-striped">
                        <thead>
                          <tr id="titulos_tabla">
                            <th scope="col">Nombre</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">imagenes</th>
                            <th scope="col">Ver más</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let dato of datos | filter:filterPost">
                            <td>{{dato.nombre}}</td>
                            <td>{{dato.categoria}}</td>
                            <td><img src={{dato.img}}></td>
                            <td><a [routerLink]="['/comprar' , dato.id]" class="btn btn-primary"id="vermas">Ver mas</a></td>
                          </tr>
                        </tbody>
                      </table>


          </tr>
        </table>

    </div>

<footer id="footerp">
  <div class="container p-4">
    <section class="mb-4">
      <p>
        "La esperanza es lo que nos hace más fuertes. Es la razón por la que estamos aquí. Es con lo que luchamos cuando todo lo demás se ha perdido"
      </p>
    </section>
    <section class="">
      <div class="row">
      </div>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="https://www.instagram.com/piscinasbuga/">Hello_game</a>
  </div>
</footer>
</body>

