@import url('http://fonts.googleapis.com/css?family=Montserrat+Alternates');

body{
  font-family: 'Balsamiq Sans', cursive;
    margin-top: 1px;
    margin: auto;
    position: absolute;
    width: 100%;

    background-color: rgb(82, 82, 82) ;
    margin:0;
    padding:0;
}
.header{
  display: flex;
  margin: auto;
  width: 100%;
  position:relative;
  height: 16%;
  background-color: rgb(24, 23, 23);
  border-width: 10px;
  padding: auto;

}
#vermas{
  background-color: #8c06fa;
  border-color: #8c06fa;
}
.field {
    display:flex;
    position:realtive;
    margin:auto;
    width:95%;
    flex-direction:row;
    box-shadow:
    1px 1px 0 rgb(22, 160, 133),
    2px 2px 0 rgb(22, 160, 133),
    3px 3px 0 rgb(22, 160, 133),
    4px 4px 0 rgb(22, 160, 133),
    5px 5px 0 rgb(22, 160, 133),
    6px 6px 0 rgb(22, 160, 133),
    7px 7px 0 rgb(22, 160, 133)
    ;
  }

  .field>input[type=text],
  .field>button {
    display:block;
    font:1.2em 'Montserrat Alternates';
  }

  .field>input[type=text] {
    flex:1;
    padding:0.6em;
    border:0.2em solid rgb(26, 188, 156);
  }

  .field>input:hover{
    box-shadow: 0 0 20px #4f9;
  }

  .field>button:hover{
    box-shadow: 0 0 20px #4f9;
  }


  .field>button {
    padding:0.6em 0.8em;
    background-color:rgb(26, 188, 156);
    color:white;
    border:none;
  }

  .busqueda{
      margin-left: 18%;
      margin-right: auto;
      text-align: center;
      padding: 0px;
      width: 60%;
      height: 200px;


  }

  a:link, a:visited, a:active {
    text-decoration:none;
}

  .myButton {
    background-color: #740cb1;
    border-radius:18px;
    border:1px solid #941df5;
      width: 155px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:7px ;
    text-decoration:none;


}
.myButton:hover {
	background:linear-gradient(to bottom, #8c06fa 5%, #bf2df9 100%);
	background-color:#8c06fa;

}
.myButton:active {
	position:relative;
	top:1px;
}

#titulos_tabla{
  background-color: #8c06fa;
  color: #ffffff;
}

.busquedaContent{
    margin-left: 18%;
    margin-top: 0px;
    text-align: center;
    padding: 0px;
    width: 60%;
    height: 90%;
    background-color: #ffffff;
}
.categorias{
    width: 100%;
    height: 100%;
    background-color:white;
    margin: auto;
    padding: 10px;
    border-width: 5px;
    text-align: center;
}
.txtCategorias{
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    font-family: 'Permanent Marker', cursive;
    color: black;
    padding: 5px;
    text-decoration: none;
}
.txtCategorias:hover{
  background-color: #8c06fa;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}
.imagenes{
    width: 160px;
    height: 160px;
    margin: auto;
    border-width: 3px;
    box-shadow: 0 0 20px white;

    transition: width 2s, height 2s, transform 2s;
}
.imagenes:hover{
  transform : scale(1.5);
  box-shadow: 0 0 20px #4f9;
}
.icon{
    color: white;
    margin-left: 15px;

}

#list-inicio{
  width: 1000px;
}
/* @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap'); */
