<app-navbar></app-navbar>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Hello_Game</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Pangolin&display=swap" rel="stylesheet">
</head>
<body>
    <div class=""id="cuadroletra1">
        <h1>Publica tu anuncio</h1>
    </div>

    <div class="flex-container">

        <div *ngIf="load">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" >
                <div class="form-group">
                    <label for="exampleInputEmail1">Nombre del juego</label>
                    <input formControlName="nombre" type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Descripcion del juego</label>
                    <input formControlName="descripcion" type="text" class="form-control" >
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Precio</label>
                    <input formControlName="precio" type="text" class="form-control" >
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Categoria</label>
                    <input formControlName="categoria" type="text" class="form-control" >
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Url img</label>
                    <input formControlName="img" type="text" class="form-control" >
                </div>


                <button type="submit" class="btn btn-primary" id="Publicar">publicar Juego</button>
            </form>
        </div>


    </div>
    <footer id="footerp">
      <div class="container p-4">
        <section class="mb-4">
          <p>
            "La esperanza es lo que nos hace más fuertes. Es la razón por la que estamos aquí. Es con lo que luchamos cuando todo lo demás se ha perdido"
          </p>
        </section>
        <section class="">
          <div class="row">
          </div>
        </section>
      </div>
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-white" href="https://www.instagram.com/piscinasbuga/">Hello_game</a>
      </div>
    </footer>
</body>

