body{
  color: rgb(0, 0, 0);
  background-color: rgb(24, 23, 23);

}
.navbar-nav{
  margin-left: 18%;
  margin-right: auto;
  text-align:left;
  padding: 0px;
  width: 15%;
}
#cuadroletra1{
  font-size: 25px ;
  width: 100%;
  align-content: center;
  background-color: rgb(24, 23, 23);
}

#cuadroletra1 h1{
color: #ffffff;
text-align: center;
padding-top: 2%;
padding-bottom: 2%;
}

#cuadroletra1 h2{
padding-bottom: 2%;
}

.form-group{
width: 100%;
}
.form-control{
  width: 500px;
}

.flex-container{
  font-size: 25px;
  display: flex;
  justify-content:center;
  text-align: center;
  background-color: rgb(255, 255, 255) ;
  padding-bottom: 14%;
  padding-top: 3.5%;
}

footer{
  background-color: rgb(24, 23, 23);
  color: #ffffff;
}

#Publicar{
  font-size: 25px;
  background-color: #8c06fa;
  border: none;
  padding: 15px;
  border-radius: 13px;
}
