<app-navbar></app-navbar>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Hello_Game</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Pangolin&display=swap" rel="stylesheet">
</head>
<body>
    <div id="cuadroletra1">
        <h1>Publica tu anuncio</h1>
    </div>

    <div class="flex-container">

    <div class="opcionesG">
        <form class="formPersonal">
            <fieldset>
                <h2 id="letrasw">Incluye algunos detalles</h2>
            <span class="textForm">Tipo:</span>
            
            <input name="contact" class="boxOp" type="radio"  value="1" id="Nintendo">
            <label class="labelsex activo" for="Nintendo">Nintendo</label>

            <input name="contact" class="boxOp" type="radio"  value="2" id="Playstation">
            <label class="labelsex" for="Playstation">Playstation</label>

            <input name="contact" class="boxOp" type="radio"  value="3" id="Xbox" >
            <label class="labelsex" for="Xbox">Xbox</label>

            <input name="contact" class="boxOp" type="radio"  value="4" id="Pc">
            <label class="labelsex" for="Pc">Pc</label>            
            
            <input name="contact" class="boxOp" type="radio" value="5" id="otros" >
            <label class="labelsex" for="otros">Otros</label>   
<br><br><br>
            <div class="form__section">
                <label for="Name">Titulo del juego</label>
                <input type="text" class="form__input" placeholder="Battlefield V">
            </div>

<div class="div-precio" >

    <label for="Name">Precio</label>
<div id="monedap">
            
                <select name="color" class="selectP">
                <option>COP</option>
                <option>USD</option>
                <option>EUR</option>
                <option>GBP</option>
                </select>
            
        </div>
        <div id="monedac">
            <input type="number" class="form__input" placeholder="Cantidad">
        </div>    
        </div>
        </fieldset>
        

            <fieldset>
                <div class="algo">
                    <div class="perro">
                        <img src="../assets/caratula.png" alt="videojuegos" id="imagencarat">
                    </div>
                    <div class="gato">
                        <p>Battlefield V es un videojuego de disparos y acción bélica en primera
                        persona​ desarrollado por DICE y distribuido por Electronic Arts. El videojuego
                        fue lanzado el 20 de noviembre de 2018 en las plataformas PlayStation 4, Xbox 
                        One y Microsoft Windows.​</p>
                    </div>
                    </div>
            <span class="textForm">Tipo:</span>
            
            <input name="contact" class="tipo" type="radio"  value="6" id="Virtual">
            <label class="tipolabel" for="Virtual">Virtual</label>
    
            <input name="contact" class="tipo" type="radio"  value="7" id="Fisico">
            <label class="tipolabel" for="Fisico">Fisico</label>
            <br><br>
            <label for="Name">Pais</label>
            <p>
                <select name="color" class="selectP">
                <option>Argentina</option>
                <option>Brasil</option>
                <option>Colombia</option>
                <option>Mexico</option>
                </select>
            </p>
            <label for="Name">Ciudad</label>
            <p>
                <select name="color" class="selectP">
                <option>Bogota</option>
                <option>Medellin</option>
                <option>Cali</option>
                <option>Barranquilla</option>
                </select>
            </p>

            <div >
                <input type="submit" class="form__input" value="Registrarse" id="diniciar">
            </div>

        </fieldset>
        </form>


    </div>



        <div>
            <img src="../assets/logo.png" alt="videojuegos" id="imagenLogo">
        </div>
    </div>
    

</body>

