body{
  font-family: 'Balsamiq Sans', cursive;
  color: #ccc;
  background-color: rgb(24, 23, 23);
}
.navbar-nav{
  margin-left: 18%;
  margin-right: auto;
  text-align:left;
  padding: 0px;
  width: 15%;
}
#cuadroletra1{
  font-size: 25px ;
  width: 100%;
  align-content: center;
  background-color: rgb(24, 23, 23);
}

#cuadroletra1 h1{

text-align: center;
padding-top: 2%;
padding-bottom: 2%;
}

#cuadroletra1 h2{
padding-bottom: 2%;
}

.form-group{
width: 100%;
}
.form-control{
  width: 500px;
}

.flex-container{
  display: flex;
  justify-content:center;
  text-align: center;
  background-color: rgb(82, 82, 82) ;
  padding-bottom: 14%;
  padding-top: 2%;
}




