@import url('http://fonts.googleapis.com/css?family=Montserrat+Alternates');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


body{
    margin-top: 1px;
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(82, 82, 82) ;
    margin:0;
    padding:0;
}
.header{
    display: flex;
    margin: auto;
    width: 100%;
    position:relative;
    background-color: rgb(24, 23, 23);
    border-width: 10px;
    padding: auto;

}

.field {
    display:flex;
    position:realtive;
    margin:auto;
    width:95%;
    flex-direction:row;
    box-shadow:
    1px 1px 0 rgb(22, 10, 30),
    2px 2px 0 rgb(49, 19, 68),
    3px 3px 0 rgb(110, 35, 158),
    4px 4px 0 rgb(146, 45, 210),
    5px 5px 0 rgb(79, 29, 110)
    ;
  }

  .field>input[type=text],
  .field>button {
    display:block;

  }

  .field>input[type=text] {
    flex:1;
    padding:0.6em;
    border:0.2em solid rgb(146, 45, 210);
  }

  .field>button {
    padding:0.6em 0.8em;
    background-color:rgb(146, 45, 210);
    color:white;
    border:none;
  }

  .busqueda{
      margin-left: 18%;
      margin-right: auto;
      text-align: center;
      padding: 0px;
      width: 60%;
      height: 200px;


  }


  .myButton {

  background-color: #740cb1;
	border-radius:18px;
  border:1px solid #941df5;
  width: 200px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:7px ;
	text-decoration:none;

}
.myButton:hover {
	background:linear-gradient(to bottom, #8c06fa 5%, #bf2df9 100%);
	background-color:#8c06fa;
}
.myButton:active {
	position:relative;
	top:1px;
}
.perfil{
    margin-left: 0px;
    margin-top: 33px;
    margin-right: 5%;
    width: 200px;
    height: 100px;
    float: left;
}
.cuerpo{
    background-color: rgb(82, 82, 82);
    width: 100%;
    position:absolute;
    height: 52%;
    padding: 10px;
    margin: auto;
}
.footer{
    width: 100%;
    padding: 20px;
    background-color: rgb(24, 23, 23);
    margin: auto;
    display: flex;
    position:absolute; /*El div será ubicado con relación a la pantalla*/
    left:0px; /*A la derecha deje un espacio de 0px*/
    right:0px; /*A la izquierda deje un espacio de 0px*/
    bottom:0px; /*Abajo deje un espacio de 0px*/
    height:20%; /*alto del div*/
    z-index:0;
    border-width: 10px;
    border-color: black;
    border-style: solid;
}

.txtCategorias{
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    color: black;
}
.imagenes{
    width: 100%;
    height: 100%;
    margin: auto;

}
.icon{
    color: white;
    margin-left: 15px;

}
.card{
  height: 100%;
  border-radius: 20px;
}
.contenedor{
    width: 80%;
    margin: auto;
    padding: 10px;
    border-width: 3px;

}



.contTxtTitle{
    width: 45%;
    height: 20%;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(117,236,240,1) 50%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(117,236,240,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(117,236,240,1) 50%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(117,236,240,1) 50%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(117,236,240,1) 50%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(117,236,240,1) 50%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
    float: right;
    position: relative;
    text-align: center;
    margin-bottom: 2%;
}
.contTxtCuerpo{
    width: 45%;
    height: 70%;
    background-color: #0688fa;
    float: right;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(117,236,240,1) 50%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(117,236,240,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(117,236,240,1) 50%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(117,236,240,1) 50%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(117,236,240,1) 50%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(117,236,240,1) 50%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
    border-radius: 10px;
    text-align: left;
    padding: 15px;

}
.txtTitulo{
    margin-top:5%;

    font-size: 30px;
    color: black;
}

.txtCuerpo{
    font-size: 15px;
    color: black;

}
footer{
  background-color: rgb(24, 23, 23);
  color: #ffffff;
}

.contenedor{
    margin-left: 35%;
    text-align: center;
}

.contenedor img{
    border-radius: 50%;
    border-style: solid;
    width: 70%;
    margin-top: 5%
}

.botAgg{
    margin-left: 35%;
}
