<app-navbar></app-navbar>
<title>Hello_Game</title>
  <body>
    <div class="header">
        <table class="busqueda">
            <tr>
                <td colspan="4">
                    <div class="field" id="searchform">
                        <input type="text" id="searchterm" placeholder="Que juego esta buscando?" />
                        <button type="button" id="search">Buscar</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td><a href="#" class="myButton">Categorias</a></td>
                <td><a href="#" class="myButton">Nuevos</a></td>
                <td><a href="#" class="myButton">Populares</a></td>
                <td><a href="#" class="myButton">Gratis</a></td>
            </tr>
        </table>
    </div>


        <div class="cuerpo">
            <div class="contenedor">
                <div class="card" style="width: 18rem;">
                    <div *ngFor="let dato of datos">
                    <img src="{{dato.img}}" class="card-img-top">
                <div class=" card-body">
                    <h5 class="card-title">{{dato.nombre}}</h5>
                    <h5 class="card-title">Categoria: {{dato.categoria}}</h5>
                    <p class="card-text">{{dato.descripcion}}</p>
                    <h5 class="card-title">Precio: {{dato.precio}} COP</h5>
                    <td><a (click) = "agregarProducto(dato.id)" class="btn btn-primary">Añadir al Carrito</a></td>
                </div>
            </div>
        </div>
    </div>

    </div>
<footer id="footerp" class="bg-dark text-center text-white">
  <div class="container p-4">
    <section class="mb-4">
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i></a>
    </section>
    <section class="mb-4">
      <p>
        "La esperanza es lo que nos hace más fuertes. Es la razón por la que estamos aquí. Es con lo que luchamos cuando todo lo demás se ha perdido"
      </p>
    </section>
    <section class="">
      <div class="row">
      </div>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="https://www.instagram.com/piscinasbuga/">Hello_game</a>
  </div>
</footer>
</body>
